* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.forecast {
  font-size: 0.9em;
}

.forecastBox {
  display: flex;
}

.forecastCard {
  margin-left: 10px;
  padding: 25px;
  border: solid grey 2px;
  background-image: url("./images/blue3.png");
}

.topnav {
  color: black;
  text-align: center;
  font-size: 17px;
  background-color: #208eed;
  padding: 14px 16px;
}

#current-weather {
  flex-wrap: wrap;
  padding-left: 5px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.current {
  font-size: small;
}

#search-button,
#clear {
  color: white;
  background-color: #208eed;
  border-color: blue;
}

.fiveday {
  font-size: large;
  font-style: italic;
  font-weight: bolder;
  padding-top: 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #208eed;
  color: #000000;
  text-align: center;
}

.name {
  font-style: italic;
  font-weight: bold;
  font-size: large;
}

p {
  color: black;
}
